/* layout */
* {
  -webkit-text-size-adjust: none;
}
html,
body,
#app {
  height: 100%;
  margin: 0;
  font-size: 0.95rem;
}
.wrap {
  height: auto;
  min-height: 100%;
}
.container {
  max-width: 1200px;
}

select {
  border: none !important;
  outline: none !important;
  border-radius: 3px !important;
  padding: 6px 7px;
  height: 38px;
  border-radius: 3px !important;
  box-sizing: border-box;
  line-height: normal;
}
textarea {
  padding: 10px 10px !important;
}
button {
  border: none;
  outline: none;
  padding: 6px 7px;
  border-radius: 3px !important;
  font-size: 0.95rem !important;
  line-height: normal !important;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .my-100 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

/* input style */

.form-control {
  color: #aaa7b4;
  background: #fff;
  border: 1px solid #eee !important;
  padding-top: 7px;
  line-height: normal !important;
  box-sizing: border-box;
}
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  box-sizing: border-box;
  color: #aaa7b4;
}

.form-control::placeholder {
  color: #aaa7b4;
}

@media (max-width: 800px) {
  .form-control::placeholder {
    font-size: 1rem !important;
  }
  button {
    font-size: 0.85rem !important;
  }
}
.form-select {
  background: #f4f3f8;
  color: #50a486;
  cursor: pointer;
  height: 38px;
  font-size: 0.9rem;
  padding-top: 8px;
  border-radius: 3px !important;
}

/* button style */

.btn-primary {
  background: #6edbb4;
  border: 1px solid #6edbb4;
}
.btn-primary:hover,
.btn-primary-outline:hover {
  background: #50a486;
  border: 1px solid #50a486;
  color: #fff;
}
.btn-sub {
  background: #edf0f5;
  border: 1px solid #edf0f5;
  color: #50a486;
}
.btn-outline {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.btn-primary-outline {
  background: transparent;
  border: 1px solid #50a486;
  color: #50a486;
}
.btn-sub:hover,
.btn-outline:hover {
  border: 1px solid #656565;
  background: #656565;
  color: #fff;
}

/* text style */

.text-primary {
  color: #6edbb4 !important;
}
.text-sub {
  color: #aaa7b4 !important;
}
.text-muted {
  color: #656565 !important;
}

/* font */

.fz-sm {
  font-size: 0.85rem !important;
}

/* background style */

.primary {
  background-color: #6edbb4;
  border-color: #6edbb4;
}

/* clearfix */

.clearfix {
  zoom: 1;
}
.clearfix:after {
  clear: both;
}

/* pagination */
.popular_swiper .swiper-pagination {
  bottom: 15px !important;
}
.popular_swiper .swiper-pagination-bullet {
  width: 10px;
  height: 2px;
}
.popular_swiper .swiper-pagination-bullet-active {
  background: #fff;
}
